<%- include('partials/header') %>
<div>
    <%-movie.title%>
<div>
    The poster img
</div>
    <div>

    </div>
        <ul>
            <li>Actor list</li>
        </ul>
        <p>
            Time
        </p>

</div>

<%- include('partials/footer') %>
